p{
    font-family: "DejaVu Sans Mono";
    font-size: 10px;
    color: black;
}
h2{
    background-color: black;
    color: #4ac1f7;
    font-size: 50px;
    font-family: Kalapi;
}
body{
    background-color: whitesmoke;
}